<% provide(:title,"Help")%>
<html>
  <head>
  <title><%=yield(:title)%> </title>
  </head>
  <body>
    <h1>Help</h1>
      <p>Sample Application</p>
      <p>
        Refer the link for help in Ruby on Rails 
        <a href= "https//www.railstutorial.org">
          Help
        </a>
      </p>
  </body>
</html>
