<% provide(:title, "Home") %>
<html>
<div class="center jumbotron">
<body>
<h1>Home</h1>
<p>Sample Application </p>
<p>This is my Home Page for my app.
   You can refer: 
   <a href= "https//www.railstutorial.org">Ruby on Rails Tutoials</a>
</p>
 <p>New User?
 <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></p>
</body>
</div>
</html>

